.custom-button {
    width: auto;
    letter-spacing: 0.5px;
    padding: 10px 20px;
    font-size: 15px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;

    &:hover {
        background-color: white;
        color: black;
    }

    &.black {
        background: black;
        color: white;
        border: 1px solid black;

        &:hover {
            background: white;
            color: black;
        }
    }

    &.blue {
        background: blue;
        color: white;
        border: none;

        &:hover {
            background: darkblue;
            border: none;
        }
    }

    &.green {
        background: green;
        color: white;
        border: none;

        &:hover {
            background: darkgreen;
            border: none;
        }
    }

    &.red {
        background: red;
        color: white;
        border: none;

        &:hover {
            background: darkred;
            border: none;
        }
    }

    &.inverted {
        background-color: white;
        color: black;
        border: 1px solid black;

        &:hover {
            background-color: black;
            color: white;
            border: 1px solid black;
        }
    }
}
