.list-item {

    .actions {
        opacity: 0.1;
        filter: grayscale(100%);
        transition: 300ms opacity ease-in-out;
    }

    &:hover {
        background-color: rgba(0,0,0, .01);

        .actions {
            opacity: 1;
            filter: grayscale(0);
        }
    }
}