.list-item {

    .actions {
        opacity: 0.1;
        filter: grayscale(100%);
        transition: 300ms opacity ease-in-out;
    }

    &:hover {
        .actions {
            opacity: 1;
            filter: grayscale(0);
        }
    }
}